/* Code highlighting customizations */
.md-logo {
    padding: 0!important;
    margin-top: -.35em;
}
.md-logo img {
    width: 64px!important;
    height: 64px!important;
}
.codehilite .kn,
.codehilite .kd {
    color: #069;
}
.codehilite .nx {
    color: black;
}
.codehilite .s,
.codehilite .s1 {
    color: #c00;
}
.md-sidebar .md-nav__title,
.md-sidebar .md-nav__source,
.md-header {
    background: white!important;
    color: #546e7a!important;
}
